.row {
  display: flex;
  align-items: center;
  gap: var(--lg);
}

.label_wrapper {
  flex: 1;
  min-width: 0;
}

.label {
  display: flex;
  align-items: center;
}

.icon {
  flex-shrink: 0;
  margin: 0 var(--md);
}

.name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.action {
  flex-shrink: 0;
}
