.row {
  display: flex;
  align-items: center;
  gap: var(--lg);
}

.icon {
  flex-shrink: 0;
}

.name {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.action {
  flex-shrink: 0;
}
