.templates_layout {
  display: flex;
  gap: var(--lg);
  padding: var(--xl);
  justify-content: center;
  z-index: 10;
  flex-wrap: wrap;
  position: relative;
}

.templates_list_panel {
  min-width: 350px;
  max-width: 28rem;
  flex-grow: 1;
}

.templates_detail_panel {
  min-width: 350px;
  max-width: 44rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: var(--lg);
}

.create_template_icon {
  margin-right: var(--md);
}

.create_template_button {
  align-self: flex-end;
}
