.layout {
  display: flex;
  flex-direction: column;
  gap: var(--lg);
  padding: var(--xl);
  margin: 0 auto;
  align-items: center;
}

.header {
  display: flex;
}

.button_icon {
  margin-right: var(--md);
}
