.row {
  display: flex;
  gap: var(--lg);
}

.icon_field {
  flex-shrink: 0;
  width: 12rem;
}

.name_field {
  flex: 1;
  min-width: 0;
}

.icon_option {
  display: flex;
  align-items: center;
}

.icon_name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}
