.items_layout {
  display: flex;
  gap: var(--lg);
  padding: var(--xl);
  align-items: flex-start;
  width: 100%;
  max-width: 72rem;
  margin: 0 auto;
  z-index: 10;
}

.items_list_panel {
  width: 40%;
  min-width: 0;
}

.items_detail_panel {
  width: 60%;
  flex-shrink: 0;
}

.create_item_icon {
  margin-right: var(--md);
}

.create_item_button {
  margin-top: var(--lg);
  display: flex;
  justify-self: flex-end;
}
