.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--md);
  flex-wrap: wrap;
}

.title {
  margin: 0;
  color: var(--primary);
}

.create_template_link {
  text-decoration: none;
}

.button_icon {
  margin-right: var(--md);
}
