.container {
  display: flex;
  flex-direction: column;
  gap: var(--lg);
}

.header {
  display: flex;
  align-items: center;
}

.title {
  display: flex;
  align-items: center;
  gap: var(--md);
}

.badge {
  font-weight: var(--bold);
}

.body {
  display: flex;
  flex-direction: column;
  gap: var(--lg);
}

.empty {
  margin: 0;
}

.footer {
  display: flex;
  gap: var(--md);
}

.pagination {
  margin-top: var(--sm);
}

.picker_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.close {
  flex-shrink: 0;
}
