.container {
  display: flex;
  flex-direction: column;
  gap: var(--lg);
}

.body {
  display: flex;
  flex-direction: column;
  gap: var(--lg);
}

.empty {
  margin: 0;
}

.footer {
  display: flex;
  gap: var(--md);
}

.picker_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.close {
  flex-shrink: 0;
}
